/*
*Polices
*Logo et titres: Shrikhand
*Texte: Roboto
*
*font-family: 'Roboto', sans-serif;
*font-family: 'Shrikhand', cursive;
*/

/*
**** RESET ****
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}

/*--------------------*\
		VARIABLE
\*--------------------*/

$prem-color:#9356DC;
$sec-color:#FF79DA;
$ter-color: #99E2D0;
$bg-color: #f0eeee;
$bg-sec-color: #dad5d5;
$sec-font-color: #676464;

$box-shadow: 0 0.5rem 1rem rgba(black, 0.15);
$box-shadow-hover: 0 0.5rem 1rem rgba(black, 0.35);
$filter-light: brightness(111%);

/*--------------------*\
	   MIXIN
\*--------------------*/

@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}


/*--------------------*\
		BASE
\*--------------------*/

body {
	font-family: 'Roboto', sans-serif;
}
h1 {
	font-family: 'Shrikhand', cursive;
}

.titres-acceuil {
	height: 40px;
width: 200px;
font-size: 1.5rem;
font-weight: bold;
}

.btn {
	box-shadow: $box-shadow;
}

.btn:hover {
	filter: $filter-light;
	box-shadow: $box-shadow-hover;
}

/*--------------------*\
		MOBILE S
\*--------------------*/

	.container__page {
		width: 100%;
		margin-top: 10px;
	}

	// header //

	.box-header {
	@include flex-center;
    height: 50px;
	}

	.box-header__logo {
		font-size: 2rem;
	}

	// formulaire de recherche //

	.box-search {
		background-color: $bg-sec-color;
		@include flex-center;
    	height: 50px;
	}

	.box-search__input {
		border: none;
		background-color: $bg-sec-color;
		appearance: none;
		margin-left: 10px;
		font-size: 1rem;
		width: 150px;
	}

	.box-search__input::placeholder {
		color: black;
	}

	.box-search__icon-map {
		padding-bottom: 6px;
	}

	// section explore // 

	.box-explore {
		background-color: $bg-color;
		height: 244px;
		@include flex-center;
    flex-direction: column;
	}

	.box-explore--titre {
	transform: translate(10px, -58px);
	}

	.box-explore--description {
		height: 40px;
    width: 250px;
    font-size: 0.9rem;
    transform: translate(10px, -25px);
    text-align: center;
    color: $sec-font-color;

	}

	.btn-medium {
		@include flex-center;
		text-decoration: none;
		border-radius: 20px;
        width: 206px;
    height: 45px;
	background-image: linear-gradient($sec-color,$prem-color);
	}

	.btn-medium p {
		
    color: white;
	}

	// section process //

	.box-process {
		height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
	}

	.box-process__titre {

	}

	.box-process__btn {
		text-decoration: none;
		border-radius: 20px;
        width: 280px;
    	height: 60px;
		background-color: $bg-color;
		@include flex-center;
	}

	.box-process__btn--items {
		display: flex;
    align-items: space-between;
    width: 205px;
    justify-content: space-between;
    margin-left: -23px;
	}

	.fa-mobile-alt {
		color: $sec-font-color;
	}

	.box-process__btn--items p {
		color: black;
		font-weight: 500;
	}

	.box-process__btn--elem-circle {
		width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color:$prem-color;
    color: white;
	@include flex-center;
	position: absolute;
    transform: translate(-138px, -1px);
	}


	
	// @media only screen and (min-width: px) 