// RESET
html,
body,
div,
span,
h1,
h2,
h3,
a,
em,
img,
i,
ul,
li,
form,
label,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*--------------------*\
		VARIABLE
\*--------------------*/

// font
$font-logo-titre: "Shrikhand", cursive;
$font-texte: "Roboto", sans-serif;

// couleurs charte
$prem-color: #9356dc;
$sec-color: #ff79da;
$ter-color: #99e2d0;

// couleurs gris
$bg-color: #f6f6f6;
$bg-sec-color: #eaeaea;
$sec-font-color: #7e7e7e;
$footer-color: #353535;

// couleurs box new
$color-box-new: #99e2d0;
$color-font-new: #008766;

// variable autres
$box-shadow: 0 0.5rem 1rem rgba(black, 0.15);
$box-shadow-hover: 0 0.5rem 1rem rgba(black, 0.35);
$filter-light: brightness(111%);

/*--------------------*\
	   MIXIN
\*--------------------*/

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-box-column {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

@mixin break-text {
  text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/*--------------------*\
		BASE
\*--------------------*/

body {
  font-family: $font-texte;
}
h1 {
  font-family: $font-logo-titre;
}

.titres-acceuil {
  height: 40px;
  width: 200px;
  font-size: 1.3rem;
  font-weight: bold;
}

.btn {
  box-shadow: $box-shadow;
}

.btn:hover {
  filter: $filter-light;
  box-shadow: $box-shadow-hover;
}

/*--------------------*\
		MOBILE S
\*--------------------*/

.container__page {
  max-width: 425px;
  margin: 0 auto;
}

//---------- HEADER ----------//

.box-header {
  @include flex-center;
  height: 50px;
}

.box-header__logo {
  font-size: 1.7rem;
  text-decoration: none;
  color: black;
  font-family: $font-logo-titre;
}

//--------- FORMULAIRE DE RECHERCHE ----------//

.box-search {
  background-color: #dad5d59c;
  @include flex-center;
  height: 40px;
  padding-left: 50px;
}

.box-search__input {
  border: none;
  background-color: #e8e5e5;
  appearance: none;
  font-size: 0.9rem;
}

.box-search__input::placeholder {
  color: $footer-color;
  font-weight: bolder;
}

.box-search__icon-map {
  padding-bottom: 6px;
  padding-right: 10px;
  font-size: 0.9rem;
  color: $footer-color;
}

//---------- SECTION EXPLORE ----------//

.box-explore {
  background-color: $bg-color;
  @include flex-center;
  flex-direction: column;
}

.box-explore__index {
  padding-top: 35px;
  height: 212px;
}

.box-explore--titre {
  transform: translate(2px, -55px);
  text-align: center;
}

.box-explore--description {
  height: 40px;
  width: 250px;
  font-size: 0.9rem;
  transform: translate(10px, -25px);
  text-align: center;
  color: $sec-font-color;
}

.btn-medium {
  @include flex-center;
  text-decoration: none;
  border-radius: 20px;
  background-image: linear-gradient($sec-color, $prem-color);
}

.btn-medium__index {
  width: 70%;
  height: 25%;
}

.btn-medium p {
  color: white;
}

//---------- SECTION PROCESS ----------//

.box-process {
  height: 300px;
  @include flex-box-column;
  padding-top: 30px;
  padding-bottom: 30px;
}

.box-process__titre {
  align-self: flex-start;
  padding-left: 20px;
}

.box-process__btn {
  text-decoration: none;
  border-radius: 20px;
  width: 85%;
  height: 60px;
  background-color: $bg-color;
  @include flex-center;
  position: relative;
}

.box-process__btn:hover {
  background-color: #9256dc55;
  & i {
    color: $prem-color;
  }
}

// Pour centrer le <p> width + flex-end

.box-process__btn--items {
  display: flex;
  align-items: center;
  width: 191px;
  justify-content: flex-end;
  margin-left: -23px;
}

.icon-process {
  color: $sec-font-color;
  position: absolute;
  left: 34px;
}

.box-process__btn--items p {
  color: black;
  font-weight: 500;
  font-size: 0.9rem;
}

.box-process__btn--elem-circle {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  background-color: $prem-color;
  color: white;
  @include flex-center;
  position: absolute;
  left: -9px;
  & span {
    font-size: 0.8rem;
  }
}

//---------- SECTION RESTAU ----------//

.box-restau {
  @include flex-box-column;
  height: 1165px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $bg-color;
}

.box-restau__titre {
  align-self: flex-start;
  padding-left: 20px;
}

.box-restau__items {
  height: 250px;
  width: 90%;
  background-color: white;
  border-radius: 20px;
  text-decoration: none;
  position: relative;
  box-shadow: $box-shadow;
}

.box-restau__items:hover {
  box-shadow: $box-shadow-hover;
  filter: $filter-light;
}

.box-restau__pics {
  height: 176px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

.box-restau__item--nouveau {
  color: $color-font-new;
  background-color: $color-box-new;
  font-size: 1rem;
  width: 89px;
  height: 28px;
  border-radius: 5px;
  @include flex-center;
  position: absolute;
  top: 13px;
  right: 13px;
}

.box-restau__description {
  display: flex;
  align-items: center;
  padding: 13px;
}

.boxe-restau__description--titre-ville {
  width: 60%;
  line-height: 10px;
  font-size: 1rem;
  color: black;
}

.boxe-restau__description--titre {
  font-weight: bolder;
}

.box-restau__animation {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  font-size: 1.3rem;
  color: black;
}

.icon-coeur {
  font-size: 1.3rem;
}

// ------------ FOOTER ---------- //

.footer {
  width: 100%;
  height: 200px;
  background-color: $footer-color;
}

.box-footer {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 21px;
  line-height: 28px;
}

.box-footer__logo {
  font-size: 1.1rem;
  padding-bottom: 15px;
  text-decoration: none;
  color: white;
  font-family: $font-logo-titre;
}

.fa-utensils {
  padding-right: 15px;
  font-size: 0.9rem;
}

.fa-hands-helping {
  padding-right: 6px;
  font-size: 0.9rem;
}

.box-footer__contact {
  font-size: 1rem;
  text-decoration: none;
  color: white;
  &:hover {
    color: $prem-color;
  }
}

/*--------------------*\
		PAGE MENU
\*--------------------*/

// HEADER

.box-header {
  position: relative;
}

.box-header__icon {
  text-decoration: none;
  color: black;
  position: absolute;
    left: 10px;
    top: 19px;
}

// BANNIERE
.container-banniere {
  height: 300px;
  max-width: 425px;
  position: absolute;
  z-index: -1;
}

.ban__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

// SECTION MENU
.box-menu {
  display: flex;
    flex-direction: column;
    margin-top: 198px;
    background-color: #f6f6f6;
    border-radius: 35px 30px 0 0;
    padding-left: 18px;
}

.box-menu__header {
  display: flex;
    padding-top: 30px;
    width: auto;
    padding-bottom: 25px;
}

.box-menu__nom-restaurant {
  font-size: 1.5rem;
    flex: 4;
}

.box-menu__animation {
  flex: 1;
}

.box-menu__icon-coeur {
  transform: translate(10px, 10px);
}

.box-menu__titre {
  border-bottom: 2px solid $ter-color ;
    width: 45px;
    height: 24px;
}

.box-menu__items {
  margin-top: 15px;
  margin-bottom: 15px;
  width: auto;
  height: 250px;
  align-content: center;
  display: flex;
  justify-content: space-around;
  flex-flow: column;
}

.box-menu__cards {
  width: 90%;
  height: 68px;
  background-color: white;
  padding: 0 10px;
  display: flex;
  line-height: 15px;
  font-size: 0.9rem;
  border-radius: 15px;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

.box-menu__cards:hover {
  box-shadow: $box-shadow-hover;
}

.cards__description {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.cards__box-prix {
  flex: 1;
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
}

.cards__description--titre {
  font-weight: bolder;
  @include break-text;
  width: 177px;
}

.cards__description--soustitre {
  @include break-text;
  width: 177px;
}



.cards__prix {
  font-weight: bolder;
  display: flex;
}

.cards__box-animation {
  width: 45px;
    height: 51px;
    border-radius: 0 15px 15px 0;
    background-color: $ter-color;
}

.fa-check-circle {
  color: $bg-sec-color;
  transform: translate(14px, 19px);
}

// BOUTON

.box-explore__menu {
  height: 90px;
    padding-bottom: 42px;
}

.btn-medium__menu {

  height: 50px;
    width: 191px;
    border-radius: 25px;

}





/*--------------------*\
		MOBILE M
\*--------------------*/

@media only screen and (min-width: 375px) {

  .btn-medium__menu p {
    font-size: 1.1rem;
}

.box-process__btn--items p {
  font-size: 1rem;
}

.cards__description--titre {
  width: 215px;
}

.cards__description--soustitre {
  width: 215px;
}
}

/*--------------------*\
		MOBILE L
\*--------------------*/

@media only screen and (min-width: 425px) {

  .box-header {
    height: 55px;
}

.box-header__logo {
  font-size: 2rem;
}

.box-search__input {
  font-size: 1rem;
}

.box-search__icon-map {
  padding-bottom: 4px;
  font-size: 1rem;
}

.box-search {
  height: 53px;
  padding-left: 77px;
}

  .titres-acceuil {
    font-size: 1.5rem;
}

.btn-medium__index {
  width: 224px;
  height: 55px;
}

.box-explore--description {
  width: 280px;
  font-size: 1rem;
}

.icon-process {
  font-size: 1.2rem;
  left: 41px;
}

.box-process__btn--elem-circle {
  width: 1.6rem;
  height: 1.6rem;
  left: -11px;
}

.box-process__btn--elem-circle span {
  font-size: 0.9rem;
}
}

/*--------------------*\
		TABLETTE
\*--------------------*/

@media only screen and (min-width: 768px) {

  .box-menu__header {
      width: 425px;
  }

  .container__page {
    max-width: 100%;
}

.container-banniere {
  max-width: 1025px;
}

.box-search {
  height: 45px;
}

.cards__description--titre {
  width: 300px;
}

.cards__description--soustitre {
  width: 300px;
}
.btn-medium__menu {
  width: 230px;
}

.box-process__btn__menu {
  width: 334px;
}

.box-process__titre {
  align-self: center;
  padding-left: 0;
}

.box-restau__titre {
  text-align-last: center;
  width: -webkit-fill-available;
  align-content: center;
  padding-left: 0px;
}

.box-restau {
  flex-direction: row;
  flex-wrap: wrap;
  height: 615px;
}

.box-restau__items {
  width: 46%;
}

.box-footer {
  align-items: center;
}

}

/*--------------------*\
		TABLETTE L
\*--------------------*/

@media only screen and (min-width: 1024px) {

  .box-process {
    height: 120px;
    padding-top: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.box-process__titre {
  width: -webkit-fill-available;
  text-align: center;
}

.box-process__btn {
  width: 273px;
}

.icon-process {
  font-size: 1rem;
  left: 24px;
}

}

/*--------------------*\
		DESKTOP
\*--------------------*/

@media only screen and (min-width: 1025px) {

  .container__page {
    max-width: 1025px;
}
}
