html,
body,
div,
span,
h1,
h2,
h3,
a,
em,
img,
i,
ul,
li,
form,
label,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*--------------------*\
		VARIABLE
\*--------------------*/
/*--------------------*\
	   MIXIN
\*--------------------*/
/*--------------------*\
		BASE
\*--------------------*/
body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
}

.titres-acceuil {
  height: 40px;
  width: 200px;
  font-size: 1.3rem;
  font-weight: bold;
}

.btn {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn:hover {
  filter: brightness(111%);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35);
}

/*--------------------*\
		MOBILE S
\*--------------------*/
.container__page {
  max-width: 425px;
  margin: 0 auto;
}

.box-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.box-header__logo {
  font-size: 1.7rem;
  text-decoration: none;
  color: black;
  font-family: "Shrikhand", cursive;
}

.box-search {
  background-color: #dad5d59c;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding-left: 50px;
}

.box-search__input {
  border: none;
  background-color: #e8e5e5;
  appearance: none;
  font-size: 0.9rem;
}

.box-search__input::placeholder {
  color: #353535;
  font-weight: bolder;
}

.box-search__icon-map {
  padding-bottom: 6px;
  padding-right: 10px;
  font-size: 0.9rem;
  color: #353535;
}

.box-explore {
  padding-top: 35px;
  background-color: #f6f6f6;
  height: 212px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.box-explore--titre {
  transform: translate(2px, -55px);
  text-align: center;
}

.box-explore--description {
  height: 40px;
  width: 250px;
  font-size: 0.9rem;
  transform: translate(10px, -25px);
  text-align: center;
  color: #7e7e7e;
}

.btn-medium {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 20px;
  width: 206px;
  height: 45px;
  background-image: linear-gradient(#ff79da, #9356dc);
}

.btn-medium p {
  color: white;
}

.box-process {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
}

.box-process__titre {
  align-self: flex-start;
  padding-left: 20px;
}

.box-process__btn {
  text-decoration: none;
  border-radius: 20px;
  width: 280px;
  height: 60px;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.box-process__btn:hover {
  background-color: #9256dc55;
}
.box-process__btn:hover i {
  color: #9356dc;
}

.box-process__btn--items {
  display: flex;
  align-items: center;
  width: 191px;
  justify-content: flex-end;
  margin-left: -23px;
}

.icon-process {
  color: #7e7e7e;
  position: absolute;
  left: 34px;
}

.box-process__btn--items p {
  color: black;
  font-weight: 500;
  font-size: 0.9rem;
}

.box-process__btn--elem-circle {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  background-color: #9356dc;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translate(-138px, -1px);
}
.box-process__btn--elem-circle span {
  font-size: 0.8rem;
}

.box-restau {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 1165px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f6f6f6;
}

.box-restau__titre {
  align-self: flex-start;
  padding-left: 20px;
}

.box-restau__items {
  height: 250px;
  width: 300px;
  background-color: white;
  border-radius: 20px;
  text-decoration: none;
  position: relative;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.box-restau__items:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35);
  filter: brightness(111%);
}

.box-restau__pics {
  height: 176px;
  width: 300px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

.box-restau__item--nouveau {
  color: #008766;
  background-color: #99e2d0;
  font-size: 1rem;
  width: 89px;
  height: 28px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 13px;
  right: 13px;
}

.box-restau__description {
  display: flex;
  align-items: center;
  padding: 13px;
}

.boxe-restau__description--titre-ville {
  width: 50%;
  line-height: 22px;
  font-size: 1rem;
  color: black;
}

.boxe-restau__description--titre {
  font-weight: bolder;
}

.box-restau__animation {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  font-size: 1.3rem;
  color: black;
}

.icon-coeur {
  font-size: 1.3rem;
}

.footer {
  width: 100%;
  height: 200px;
  background-color: #353535;
}

.box-footer {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 21px;
  line-height: 28px;
}

.box-footer__logo {
  font-size: 1.1rem;
  padding-bottom: 15px;
  text-decoration: none;
  color: white;
  font-family: "Shrikhand", cursive;
}

.fa-utensils {
  padding-right: 15px;
  font-size: 0.9rem;
}

.fa-hands-helping {
  padding-right: 6px;
  font-size: 0.9rem;
}

.box-footer__contact {
  font-size: 1rem;
  text-decoration: none;
  color: white;
}
.box-footer__contact:hover {
  color: #9356dc;
}

/*# sourceMappingURL=style.css.map */
